body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px; /* スマホでの表示を考慮してパディングを追加 */
}
.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* 幅を100%に設定 */
    max-width: 500px;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}
.required {
    font-size: 12px;
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 2px 5px;
    margin-left: 5px;
}
input[type="text"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.required-field input,
.required-field select,
.required-field textarea {
    background-color: #ffe6e6;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
@media (max-width: 600px) {
    .form-container {
        width: 100%;
        padding: 15px;
    }
}
